body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
}

input[type="text"],
input[type="date"],
select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

button,
.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: #432e21;
    color: white;
    cursor: pointer;
}

.btn-secondary {
    background-color: #ccc;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 0.8rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.detailBtn {
    background-color: #3498db;
    color: white;
}

.pagination-wrapper {
    display: flex;
    justify-content: right;

}

/* モーダルウィンドウ */
#detailModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    width: 400px;
    position: relative;
}

.modal-content h2 {
    margin-bottom: 1rem;
}

.modal-content p {
    margin: 0.5rem 0;
}

.delete-btn {
    background-color: #e74c3c;
    margin-top: 1rem;
}