body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fff;
    color: #8B7969;
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 1px solid #E0DFDE;
    width: 1512px;
    height: 100px;
    border-width: 1px;
    padding: 15px;
    text-align: center;
}

.header__logo {
    font-size: 28px;
    font-weight: bold;
    color: #8B7969;
}

.heading_h2 {
    width: 121px;
    height: 46px;
    top: 150px;
    left: 694px;
    text-align: center;
}

.contact-form__content {
    text-align: center;
    ;
}

.contact-form__body_form__group-title {
    width: 972px;
    height: 606px;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* 各項目を左右に分ける */
.form__group-title {
    /* display: flex; */
    align-items: center;
    margin-bottom: 16px;
}

.contact-form__label {
    content: '※';
    color: red;
    margin-left: 0.5px;
}

.form__button {
    text-align: center;
    margin-top: 30px;
}

.form__button-submit {
    background-color: #82756A;    ;
    color: #fff;
    border: none;
    padding: 10px 10px;
    font-size: 13px;
    cursor: pointer;
}