body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fff;
    color: #8B7969;
    width: 1381px;
    height: 365px;
    font-size: 14px;
    font-weight: bold;

}

.thanks__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 縦方向の中央揃え */
    align-items: center;
    /* 横方向の中央揃え */
    width: 100vw;
    height: 100vh;
}

.form__button-submit {
    background-color: #82756A;
    color: #fff;
    border: none;
    padding: 10px 10px;
    font-size: 14px;
}
